.tableHeadingChild,
.tableRectangle {
  position: absolute;
  top: 17px;
  left: 0;
  background-color: var(--color-white);
  width: 1309px;
  height: 651px;
}
.tableHeadingChild {
  border: 1px solid var(--color-thistle);
  background-color: var(--color-ghostwhite);
  top: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  box-sizing: border-box;
  height: 57px;
}
.div,
.partyName {
  position: absolute;
  top: 19px;
  left: 166px;
  font-weight: 500;
}
.div {
  left: 21px;
  text-transform: uppercase;
}
.actions,
.amount,
.gold,
.mobileNumber,
.silver {
  position: absolute;
  top: 19px;
  left: 441px;
  font-weight: 500;
}
.actions,
.amount,
.gold,
.silver {
  left: 675px;
}
.actions,
.amount,
.silver {
  left: 846px;
}
.actions,
.amount {
  left: 1015px;
}
.actions {
  left: 1179px;
}
.deleteIcon,
.editIcon,
.tableHeading {
  position: absolute;
  top: 70px;
  left: 1221px;
  width: 24px;
  height: 24px;
}
.editIcon,
.tableHeading {
  left: 1187px;
}
.tableHeading {
  top: 0;
  left: 0;
  width: 1309px;
  height: 94px;
}
.chanduBhaiya,
.div1 {
  position: absolute;
  top: 0;
  left: 145px;
}
.div1 {
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.div2,
.div3,
.gm,
.kg {
  position: absolute;
  top: 0;
  left: 432px;
}
.div3,
.gm,
.kg {
  left: 633px;
  color: var(--color-indianred);
}
.div3,
.kg {
  left: 825px;
}
.div3 {
  left: 978px;
  color: var(--color-yellowgreen);
}
.tableFirstEntry {
  position: absolute;
  top: 70px;
  left: 21px;
  width: 1084px;
  height: 24px;
}
.karigarSummaryPageTable,
.tableLinesIcon {
  position: absolute;
  top: 0;
  left: -2px;
  width: 1313px;
  height: 668px;
}
.karigarSummaryPageTable {
  top: 412px;
  left: 293px;
  width: 1309px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-sf-pro);
}
